<div class="flex flex-col flex-auto p-6 md:p-8">
	<!-- Close button -->
	<div class="flex items-center justify-end">
		<a mat-icon-button [routerLink]="['../../']">
			<mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
		</a>
	</div>
	<!-- Information -->
	<div class="text-lg font-medium mt-2">Informatii</div>
	<div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Nr Document</div>
			<div *ngIf="!document?.ocrData?.docNumber?.hasErrors">
				{{ document?.ocrData?.docNumber?.value }}
			</div>
			<div class="text-red-500" *ngIf="document?.ocrData?.docNumber?.hasErrors">
				{{ document?.ocrData?.docNumber?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Compania extrasa</div>
			<div *ngIf="!document?.ocrData?.denumireFirma?.hasErrors">
				{{ document?.ocrData?.denumireFirma?.value }}
			</div>
			<div
				class="text-red-500"
				*ngIf="document?.ocrData?.denumireFirma?.hasErrors"
			>
				{{ document?.ocrData?.denumireFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Cui extras</div>
			<div *ngIf="!document?.ocrData?.cuiFirma?.hasErrors">
				{{ document?.ocrData?.cuiFirma?.value }}
			</div>
			<div class="text-red-500" *ngIf="document?.ocrData?.cuiFirma?.hasErrors">
				{{ document?.ocrData?.cuiFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Adresa extrasa</div>
			<div *ngIf="!document?.ocrData?.adresaFirma?.hasErrors">
				{{ document?.ocrData?.adresaFirma?.value }}
			</div>
			<div class="text-red-500" *ngIf="document?.ocrData?.adresaFirma?.hasErrors">
				{{ document?.ocrData?.adresaFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Data tranzactie</div>
			<div *ngIf="!document?.ocrData?.dataTranzactie?.hasErrors">
				{{ getDate(document?.ocrData?.dataTranzactie?.value) }}
			</div>
			<div
				class="text-red-500"
				*ngIf="document?.ocrData?.dataTranzactie?.hasErrors"
			>
				{{ document?.ocrData?.dataTranzactie?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Total extras</div>
			<div *ngIf="!document?.ocrData?.total?.hasErrors">
				{{ document?.ocrData?.total?.value }}
			</div>
			<div class="text-red-500" *ngIf="document?.ocrData?.total?.hasErrors">
				{{ document?.ocrData?.total?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Discount de acordat</div>
			<div>{{ document?.discountValue }}</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Tip document</div>
			<div>{{ document?.isInvoice ? "Factura" : "Bon fiscal" }}</div>
		</div>
	</div>
	<ngx-extended-pdf-viewer
		height="calc(100vh - 180px)"
		[src]="fileBlob"
		[showToolbar]="true"
		[showSidebarButton]="false"
		[showFindButton]="false"
		[showPagingButtons]="false"
		[showDrawEditor]="false"
		[showTextEditor]="false"
		[showZoomButtons]="true"
		[showPresentationModeButton]="false"
		[showOpenFileButton]="false"
		[showPrintButton]="false"
		[showDownloadButton]="false"
		[showSecondaryToolbarButton]="true"
		[showRotateButton]="true"
		[showHandToolButton]="false"
		[showScrollingButton]="false"
		[showSpreadButton]="false"
		[showPropertiesButton]="true"
	></ngx-extended-pdf-viewer>
</div>
