<div class="w-full max-w-3xl">
	<!-- Alert -->
	<fuse-alert
		class="mt-8"
		*ngIf="showAlert"
		[appearance]="'outline'"
		[showIcon]="false"
		[type]="alert.type"
		[dismissible]="true"
	>
		{{ alert.message }}
	</fuse-alert>
	<!-- My current list of favorites -->
	<div
		class="flex flex-col mt-4 border-t border-b divide-y font-medium"
		*ngIf="!favoritesResultSets || favoritesResultSets.length === 0"
	>
		Lista de favoriti este goala
	</div>
	<div
		class="flex flex-col mt-4 border-t border-b divide-y font-medium"
		*ngIf="favoritesResultSets && favoritesResultSets.length > 0"
	>
		<div
			class="flex items-center justify-between py-3"
			*ngFor="let usr of favoritesResultSets"
		>
			<div>{{ usr.fullName }}</div>
			<div>{{ usr.phoneNumber }}</div>
			<div>{{ usr.email }}</div>
			<div>
				<button
					mat-flat-button
					[class.bg-orange-300]="true"
					[class.scale-75]="true"
					title="Sterge"
					(click)="deleteFavorite(usr.conexId)"
				>
					<mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
				</button>
			</div>
		</div>
	</div>
	<!-- search user -->
	<div class="flex items-center justify-center mt-5">
		<span class="text-black text-lg font-medium">Cauta utilizator</span>
	</div>
	<!-- EmailOrPhone -->
	<div class="sm:col-span-4 mt-5">
		<mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
			<mat-label>Email sau numar de telefon</mat-label>
			<mat-icon
				class="icon-size-5"
				[svgIcon]="'heroicons_solid:mail'"
				matPrefix
			></mat-icon>
			<mat-icon
				class="icon-size-5"
				[svgIcon]="'heroicons_solid:phone'"
				matPrefix
			></mat-icon>
			<input
				[formControl]="searchControl"
				matInput
				#EmailOrPhone
				[placeholder]="'Cauta user...'"
				(keydown)="onKeydown($event)"
			/>
		</mat-form-field>
	</div>
	<div class="flex flex-col mt-5">
		<div class="flex items-center justify-between">
			<span class="text-black text-xl font-medium"
				>Utilizatori gasiti: {{ resultSets?.length || 0 }}</span
			>
		</div>
	</div>
	<div class="row-span-2 mt-5" *ngIf="resultSets && resultSets.length > 0"></div>

	<div
		class="flex flex-col mt-4 border-t border-b divide-y font-medium"
		*ngIf="resultSets && resultSets.length > 0"
	>
		<div
			class="flex items-center justify-between py-3"
			*ngFor="let usr of resultSets"
		>
			<div>{{ usr.fullName }}</div>
			<div>{{ usr.phoneNumber }}</div>
			<div>{{ usr.email }}</div>
			<div>
				<button
					mat-flat-button
					[class.bg-green-300]="true"
					[class.scale-75]="true"
					title="Selecteaza"
					(click)="addNewFavorite(usr.conexId)"
				>
					<mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
