<div class="w-full max-w-3xl">
	<!-- Alert -->
	<fuse-alert
		class="mt-8"
		*ngIf="showAlert"
		[appearance]="'outline'"
		[showIcon]="false"
		[type]="alert.type"
		[dismissible]="true"
	>
		{{ alert.message }}
	</fuse-alert>
	<!-- Form -->
	<form [formGroup]="accountForm">
		<!-- Section -->
		<div class="w-full">
			<div class="text-xl">Detalii generale</div>
		</div>
		<div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
			<!-- Name -->
			<div class="sm:col-span-4">
				<mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
					<mat-label>Nume</mat-label>
					<mat-icon
						class="icon-size-5"
						[svgIcon]="'heroicons_solid:user'"
						matPrefix
					></mat-icon>
					<input [formControlName]="'name'" matInput />
					<mat-error *ngIf="accountForm.get('name').hasError('required')">
						Numele este obligatoriu
					</mat-error>
				</mat-form-field>
			</div>
			<!-- FirstName -->
			<div class="sm:col-span-4">
				<mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
					<mat-label>Prenume</mat-label>
					<mat-icon
						class="icon-size-5"
						[svgIcon]="'heroicons_solid:user'"
						matPrefix
					></mat-icon>
					<input [formControlName]="'firstName'" matInput />
					<mat-error *ngIf="accountForm.get('firstName').hasError('required')">
						Prenumele este obligatoriu
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
			<!-- Email -->
			<div class="sm:col-span-2">
				<mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
					<mat-label>Email (read-only)</mat-label>
					<mat-icon
						class="icon-size-5"
						[svgIcon]="'heroicons_solid:envelope'"
						matPrefix
					></mat-icon>
					<input [formControlName]="'email'" disabled readonly matInput />
				</mat-form-field>
			</div>
			<!-- Phone -->
			<div class="sm:col-span-2">
				<mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
					<mat-label>Nr telefon</mat-label>
					<mat-icon
						class="icon-size-5"
						[svgIcon]="'heroicons_solid:phone'"
						matPrefix
					></mat-icon>
					<input [formControlName]="'phoneNumber'" matInput />
					<mat-error *ngIf="accountForm.get('phoneNumber').hasError('required')">
						Numarul de telefon este obligatoriu
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<!-- Divider -->
		<div class="mt-11 mb-10 border-t"></div>

		<!-- Actions -->
		<div class="flex items-center justify-end">
			<button
				class="ml-4"
				mat-flat-button
				type="submit"
				[color]="'primary'"
				(click)="updateProfile()"
			>
				<mat-icon [svgIcon]="'feather:save'"></mat-icon>
			</button>
		</div>
	</form>
</div>
