<div class="flex flex-col flex-auto p-6 md:p-8">
	<!-- Close button -->
	<div class="flex items-center justify-end">
		<a mat-icon-button [routerLink]="['../../']">
			<mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
		</a>
	</div>

	<!-- Preview -->
	<div class="mt-8 aspect-[9/6]" *ngIf="item.type === 'folder'">
		<div
			class="flex items-center justify-center h-full border rounded-lg bg-gray-50 dark:bg-card"
		>
			<ng-container>
				<mat-icon
					class="icon-size-24 text-hint"
					[svgIcon]="'heroicons_outline:folder'"
				></mat-icon>
			</ng-container>
		</div>
	</div>

	<!-- Name & Type -->
	<div class="flex flex-col items-start mt-8">
		<div class="text-xl font-medium">
			{{
				item.type === "folder"
					? item.folderInfo.name
					: item.fileInfo.fisiereDocumente.fileName
			}}
		</div>
		<div
			class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white"
			[class.bg-indigo-600]="item.type === 'folder'"
			[class.bg-red-600]="item.type.toLowerCase().includes('pdf')"
			[class.bg-blue-600]="item.type.toLocaleLowerCase().includes('doc')"
			[class.bg-green-600]="item.type.toLocaleLowerCase().includes('xls')"
			[class.bg-gray-600]="item.type.toLocaleLowerCase() === 'txt'"
			[class.bg-amber-600]="item.type.toLocaleLowerCase().includes('image')"
		>
			{{ item.type.toUpperCase().split("/")[1] }}
		</div>
	</div>

	<!-- Information -->
	<div class="text-lg font-medium mt-8">Informatii</div>
	<div
		class="flex flex-col mt-4 border-t border-b divide-y font-medium"
		*ngIf="item.type === 'folder'"
	>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Cui firma</div>
			<div>{{ item.folderInfo.cuiNumber }}</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Discount acordat</div>
			<div>{{ item.folderInfo.discountPercent }} %</div>
		</div>
	</div>
	<div
		class="flex flex-col mt-4 border-t border-b divide-y font-medium"
		*ngIf="item.type !== 'folder'"
	>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Nr Document</div>
			<div *ngIf="!item.fileInfo.ocrData?.docNumber?.hasErrors">
				{{ item.fileInfo.ocrData?.docNumber?.value }}
			</div>
			<div
				class="text-red-500"
				*ngIf="item.fileInfo.ocrData?.docNumber?.hasErrors"
			>
				{{ item.fileInfo.ocrData?.docNumber?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Compania extrasa</div>
			<div *ngIf="!item.fileInfo.ocrData?.denumireFirma?.hasErrors">
				{{ item.fileInfo.ocrData?.denumireFirma?.value }}
			</div>
			<div
				class="text-red-500"
				*ngIf="item.fileInfo.ocrData?.denumireFirma?.hasErrors"
			>
				{{ item.fileInfo.ocrData?.denumireFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Cui extras</div>
			<div *ngIf="!item.fileInfo.ocrData?.cuiFirma?.hasErrors">
				{{ item.fileInfo.ocrData?.cuiFirma?.value }}
			</div>
			<div class="text-red-500" *ngIf="item.fileInfo.ocrData?.cuiFirma?.hasErrors">
				{{ item.fileInfo.ocrData?.cuiFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Adresa extrasa</div>
			<div *ngIf="!item.fileInfo.ocrData?.adresaFirma?.hasErrors">
				{{ item.fileInfo.ocrData?.adresaFirma?.value }}
			</div>
			<div
				class="text-red-500"
				*ngIf="item.fileInfo.ocrData?.adresaFirma?.hasErrors"
			>
				{{ item.fileInfo.ocrData?.adresaFirma?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Data tranzactie</div>
			<div *ngIf="!item.fileInfo.ocrData?.dataTranzactie?.hasErrors">
				{{ getDate(item.fileInfo.ocrData?.dataTranzactie?.value) }}
			</div>
			<div
				class="text-red-500"
				*ngIf="item.fileInfo.ocrData?.dataTranzactie?.hasErrors"
			>
				{{ item.fileInfo.ocrData?.dataTranzactie?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Total extras</div>
			<div *ngIf="!item.fileInfo.ocrData?.total?.hasErrors">
				{{ item.fileInfo.ocrData?.total?.value }}
			</div>
			<div class="text-red-500" *ngIf="item.fileInfo.ocrData?.total?.hasErrors">
				{{ item.fileInfo.ocrData?.total?.errorMessage }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Discount posibil</div>
			<div>{{ item.fileInfo.discountValue }}</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Status</div>
			<div
				[class.text-gray-600]="item.fileInfo.status === 0"
				[class.text-red-600]="item.fileInfo.status === 6"
				[class.text-blue-600]="item.fileInfo.status === 4"
				[class.text-purple-600]="item.fileInfo.status === 7"
			>
				{{ splitByCapitalLetters(item.fileInfo.statusName) }}
			</div>
		</div>
		<div class="flex items-center justify-between py-3">
			<div class="text-secondary">Tip document</div>
			<div>{{ item.fileInfo.isInvoice ? "Factura" : "Bon fiscal" }}</div>
		</div>
	</div>

	<!-- Actions -->
	<div class="grid grid-cols-2 gap-4 w-full mt-8" *ngIf="item.type !== 'folder'">
		<button class="flex-auto" mat-flat-button [class.bg-blue-600]="true">
			Descarca
		</button>
		<button class="flex-auto" mat-flat-button [class.bg-red-600]="true">
			Sterge
		</button>
	</div>
	<div
		class="grid grid-cols-2 gap-4 w-full mt-8"
		*ngIf="item.type !== 'folder' && item.fileInfo.status === 7"
	>
		<button
			class="flex-auto"
			mat-flat-button
			[class.bg-green-600]="true"
			(click)="sendForApproval()"
		>
			Trimite la aprobare
		</button>
		<!-- Upload button -->
		<button
			class="flex-auto"
			mat-flat-button
			[color]="'primary'"
			(click)="openCamera()"
		>
			<mat-icon [svgIcon]="'heroicons_outline:camera'"></mat-icon>
			<span class="ml-2 mr-1">Captura cod bare/QR</span>
		</button>
	</div>
</div>
<ng-template #cameraDialog>
	<mat-dialog-content>
		<video #videoElement width="600" height="800"></video>
	</mat-dialog-content>
	<div class="grid gap-4 w-full mt-8">
		<!-- Alert -->
		<fuse-alert
			*ngIf="showAlert"
			[appearance]="'outline'"
			[showIcon]="false"
			[type]="alert.type"
			[dismissible]="true"
		>
			{{ alert.message }}
		</fuse-alert>
	</div>
	<mat-dialog-actions class="flex flex-auto justify-end">
		<button mat-button (click)="closeCamera()" [class.bg-orange-600]="true">
			Inchide
		</button>
		<button mat-button (click)="captureImage()" [class.bg-green-600]="true">
			Captura
		</button>
	</mat-dialog-actions>
</ng-template>
