<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
	<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
		<!-- Drawer -->
		<mat-drawer
			class="w-full sm:w-128 dark:bg-gray-900"
			[mode]="drawerMode"
			[opened]="false"
			[position]="'end'"
			[disableClose]="true"
			#matDrawer
		>
			<router-outlet></router-outlet>
		</mat-drawer>
		<mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
			<div class="flex flex-col flex-auto w-full">
				<div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
					<!-- Title and action buttons -->
					<div class="flex items-center justify-between w-full">
						<div>
							<h2 class="text-3xl font-semibold tracking-tight leading-8">
								Operatiuni date incarcate
							</h2>
							<div class="font-medium tracking-tight text-secondary">
								Situatia contului tau la {{ getCurrentDate() }}
							</div>
						</div>
					</div>

					<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
						<!-- Recent transactions table -->
						<div
							class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
						>
							<mat-form-field class="ml-10 mr-10 mt-5">
								<mat-label>Filtrare</mat-label>
								<input
									matInput
									(keyup)="applyFilter($event)"
									placeholder="Filtrare dupa toate coloanele..."
									#input
								/>
							</mat-form-field>
							<div class="overflow-x-auto mx-6">
								<table
									class="w-full bg-transparent"
									mat-table
									matSort
									[dataSource]="recentTransactionsDataSource"
									[trackBy]="trackByFn"
									#recentTransactionsTable
								>
									<!-- Checkbox Column -->
									<ng-container matColumnDef="select">
										<th mat-header-cell *matHeaderCellDef>
											<mat-checkbox
												(change)="$event ? toggleAllRows() : null"
												[checked]="selection.hasValue() && isAllSelected()"
												[indeterminate]="selection.hasValue() && !isAllSelected()"
												[aria-label]="checkboxLabel()"
											>
											</mat-checkbox>
										</th>
										<td mat-cell *matCellDef="let row">
											<mat-checkbox
												(click)="$event.stopPropagation()"
												(change)="$event ? selection.toggle(row) : null"
												[checked]="selection.isSelected(row)"
												[aria-label]="checkboxLabel(row)"
											>
											</mat-checkbox>
										</td>
									</ng-container>
									<!-- Transaction ID -->
									<ng-container matColumnDef="docNumber">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>
											Numar document
										</th>
										<td mat-cell *matCellDef="let transaction">
											<div
												class="w-30 truncate"
												[matTooltip]="transaction.ocrData?.docNumber?.value"
											>
												{{ transaction.ocrData?.docNumber?.value }}
											</div>
										</td>
									</ng-container>

									<!-- Bussines Details -->
									<ng-container matColumnDef="extractedBusinessData">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>
											Detalii companie
										</th>
										<td mat-cell *matCellDef="let transaction">
											<div
												class="w-50 truncate"
												[matTooltip]="getDetaliiBusiness(transaction)"
											>
												{{ getDetaliiBusiness(transaction) }}
											</div>
										</td>
									</ng-container>

									<!-- Date -->
									<ng-container matColumnDef="uploaded">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>Data</th>
										<td mat-cell *matCellDef="let transaction">
											<span class="pr-6 whitespace-nowrap">
												{{ transaction.uploaded | date : "dd MMM y" : "" : "ro" }}
											</span>
										</td>
									</ng-container>

									<!-- Amount -->
									<ng-container matColumnDef="total">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>Total</th>
										<td mat-cell *matCellDef="let transaction">
											<span class="pr-6 font-medium whitespace-nowrap">
												{{ transaction.ocrData?.total?.value | currency : "RON " }}
											</span>
										</td>
									</ng-container>

									<!-- Discount Amount -->
									<ng-container matColumnDef="discountValue">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>
											Valoare discount
										</th>
										<td mat-cell *matCellDef="let transaction">
											<span class="pr-6 font-medium whitespace-nowrap">
												{{ transaction.discountValue | currency : "LWP " }}
											</span>
										</td>
									</ng-container>

									<!-- Status -->
									<ng-container matColumnDef="statusName">
										<th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
										<td mat-cell *matCellDef="let transaction">
											<span
												class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
												[ngClass]="{
													'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
														transaction.status === 2,
													'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50':
														transaction.status === 3,
													'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
														transaction.status === 1
												}"
											>
												<span class="leading-relaxed whitespace-nowrap">{{
													splitByCapitalLetters(transaction.statusName)
												}}</span>
											</span>
										</td>
									</ng-container>
									<!-- Status -->
									<ng-container matColumnDef="actions">
										<th mat-header-cell *matHeaderCellDef>
											<div class="flex flex-row justify-center">
												<mat-icon
													[svgIcon]="'heroicons_outline:dots-horizontal'"
												></mat-icon>
											</div>
										</th>
										<td mat-cell *matCellDef="let transaction">
											<div class="flex flex-row" *ngIf="transaction.status === 1">
												<!-- Transfer button -->
												<button
													mat-flat-button
													[class.bg-orange-300]="true"
													[class.scale-75]="true"
													(click)="makeTransferRow(transaction)"
													title="Transfera"
												>
													<mat-icon
														[svgIcon]="'heroicons_outline:switch-horizontal'"
													></mat-icon>
												</button>
												<!-- Withdraw button -->
												<button
													mat-flat-button
													[class.bg-green-300]="true"
													[class.scale-75]="true"
													(click)="makeWithdrawalRow(transaction)"
													title="Retrage"
												>
													<mat-icon [svgIcon]="'heroicons_outline:cash'"></mat-icon>
												</button>
											</div>
										</td>
									</ng-container>

									<tr
										mat-header-row
										*matHeaderRowDef="recentTransactionsTableColumns"
									></tr>
									<tr
										mat-row
										*matRowDef="let row; columns: recentTransactionsTableColumns"
									></tr>
									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">
											Nu am gasit date din filtrarea dupa "{{ input.value }}"
										</td>
									</tr>
								</table>
								<div class="flex flex-row justify-between items-center">
									<mat-paginator
										#recentTransactionsTablePagination
										[pageSizeOptions]="[5, 10, 25, 100]"
										aria-label="Select page"
									></mat-paginator>
									<div
										class="flex flex-row justify-end items-center mr-5"
										*ngIf="countSelected() > 0"
									>
										<button
											mat-flat-button
											[class.bg-orange-300]="true"
											[class.scale-75]="true"
											title="Transfera"
											(click)="makeTransferSelected()"
										>
											<mat-icon
												[svgIcon]="'heroicons_outline:switch-horizontal'"
											></mat-icon>
										</button>
										<button
											mat-flat-button
											[class.bg-green-300]="true"
											[class.scale-75]="true"
											title="Retrage"
											(click)="makeWithdrawalSelected()"
										>
											<mat-icon [svgIcon]="'heroicons_outline:cash'"></mat-icon>
										</button>
										<div
											class="ml-5 mr-5 mt-2 mb-2 p-2 bg-green-100 border-2 border-dashed border-green-400 rounded-2xl max-w-fit"
										>
											<h6>{{ countTotal() }} discount total</h6>
										</div>
										<div
											class="mr-5 mt-2 mb-2 p-2 bg-yellow-100 border-2 border-dashed border-yellow-400 rounded-2xl max-w-fit"
										>
											<h6>{{ countSelected() }} randuri selectate</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Alert -->
					<fuse-alert
						class="ml-8 mt-8 mr-8"
						*ngIf="showAlert"
						[appearance]="'outline'"
						[showIcon]="false"
						[type]="alert.type"
						[dismissible]="true"
					>
						{{ alert.message }}
					</fuse-alert>
				</div>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
