<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
	<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
		<mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
			<div class="flex flex-col flex-auto w-full">
				<div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
					<!-- Title and action buttons -->
					<div class="flex items-center justify-between w-full">
						<div>
							<h2 class="text-3xl font-semibold tracking-tight leading-8">
								Completeaza detaliile firmei
							</h2>
						</div>
						<a
							mat-icon-button
							[class.bg-blue-300]="true"
							title="Inapoi la lista de firme"
							[routerLink]="'/master-admin/firme-platforma'"
						>
							<mat-icon
								[svgIcon]="'heroicons_outline:backward'"
								[class.text-black]="true"
							></mat-icon
						></a>
					</div>

					<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
						<!-- Recent transactions table -->
						<div
							class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
						>
							<div class="overflow-x-auto mx-6">
								<form
									[formGroup]="firmaFormGroup"
									#firmaNgForm="ngForm"
									class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
								>
									<p class="text-lg font-medium mb-4">Detalii despre firma</p>

									<div class="flex flex-col gt-xs:flex-row">
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Nume afisat</mat-label>
											<input
												matInput
												[placeholder]="'Nume afisat'"
												[formControlName]="'name'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:building-library'"
											></mat-icon>
											<mat-error *ngIf="firmaFormGroup.get('name').hasError('required')">
												Numele afisat utilizatorilor este necesar
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>CUI</mat-label>
											<input
												matInput
												[placeholder]="'CUI'"
												[formControlName]="'cuiNumber'"
											/>
											<button
												mat-icon-button
												type="button"
												title="Cauta datele firmei pe baza CUI-ului"
												(click)="getAnafDetails()"
												matSuffix
											>
												<mat-icon
													class="icon-size-5"
													[svgIcon]="'heroicons_solid:magnifying-glass'"
												></mat-icon>
											</button>
											<mat-error
												*ngIf="firmaFormGroup.get('cuiNumber').hasError('required')"
											>
												CUI-ul este necesar
											</mat-error>
											<mat-error
												*ngIf="
													firmaFormGroup.get('cuiNumber').hasError('invalidAnafResponse')
												"
											>
												Cautarea nu a returnat niciun rezultat
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Nr Reg Com</mat-label>
											<input
												matInput
												[placeholder]="'Nr Reg Com'"
												[formControlName]="'nrRegCom'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:information-circle'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('nrRegCom').hasError('required')"
											>
												Nr Reg Com este necesar
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Adresa</mat-label>
											<input
												matInput
												[placeholder]="'Adresa'"
												[formControlName]="'address'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:globe-alt'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('address').hasError('required')"
											>
												Adresa este necesara
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Procentaj de discount</mat-label>
											<input
												matInput
												min="1"
												max="100"
												type="number"
												[placeholder]="'Procentaj de discount'"
												[formControlName]="'discountPercent'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:receipt-percent'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('discountPercent').hasError('required')"
											>
												Procentajul de discount este necesar
											</mat-error>
											<mat-error
												*ngIf="
													firmaFormGroup.get('discountPercent').hasError('min') ||
													firmaFormGroup.get('discountPercent').hasError('max')
												"
											>
												Procentajul de discount trebuie sa fie intre 1 si 100
											</mat-error>
										</mat-form-field>
									</div>

									<mat-divider class="mt-6 mb-10"></mat-divider>

									<p class="text-lg font-medium mb-4">Detalii persoana de contact</p>

									<div class="flex flex-col gt-xs:flex-row">
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Nume complet</mat-label>
											<input
												matInput
												[placeholder]="'Nume complet'"
												[formControlName]="'mainContactName'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:user-circle'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('mainContactName').hasError('required')"
											>
												Numele complet al persoanei de contact este necesar
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pl-3">
											<mat-label>Adresa de email</mat-label>
											<input
												matInput
												[placeholder]="'Adresa de email'"
												[formControlName]="'mainContactEmail'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:envelope'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('mainContactEmail').hasError('required')"
											>
												Adresa de email a persoanei de contact este necesara
											</mat-error>
											<mat-error
												*ngIf="firmaFormGroup.get('mainContactEmail').hasError('email')"
											>
												Adresa de email a persoanei de contact este invalida
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pl-3">
											<mat-label>Numar de telefon</mat-label>
											<input
												matInput
												[placeholder]="'Numar de telefon'"
												[formControlName]="'mainContactPhone'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:phone'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('mainContactPhone').hasError('required')"
											>
												Numarul de telefon al persoanei de contact este necesar
											</mat-error>
											<mat-error
												*ngIf="
													firmaFormGroup.get('mainContactPhone').hasError('minLength') ||
													firmaFormGroup.get('mainContactPhone').hasError('pattern')
												"
											>
												Formatul numarului de telefon este invalid
											</mat-error>
										</mat-form-field>
									</div>

									<mat-divider class="mt-6 mb-10"></mat-divider>

									<p class="text-lg font-medium mb-4">Detalii bancare</p>

									<div class="flex flex-col gt-xs:flex-row">
										<mat-form-field class="flex-auto gt-xs:pr-3">
											<mat-label>Nume institutie</mat-label>
											<input
												matInput
												[placeholder]="'Nume institutie'"
												[formControlName]="'bankName'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:building-library'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('bankName').hasError('required')"
											>
												Numele institutiei bancare este necesar
											</mat-error>
										</mat-form-field>
										<mat-form-field class="flex-auto gt-xs:pl-3">
											<mat-label>IBAN</mat-label>
											<input
												matInput
												[placeholder]="'IBAN'"
												[formControlName]="'bankAccount'"
											/>
											<mat-icon
												class="icon-size-5"
												matPrefix
												[svgIcon]="'heroicons_solid:banknotes'"
											></mat-icon>
											<mat-error
												*ngIf="firmaFormGroup.get('bankAccount').hasError('required')"
											>
												IBAN-ul este necesar
											</mat-error>
										</mat-form-field>
									</div>

									<div
										class="flex items-center justify-between border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
									>
										<div>
											<a mat-button [routerLink]="'/master-admin/firme-platforma'"
												>Anuleaza</a
											>
											<button
												class="px-6 ml-3"
												mat-flat-button
												[color]="'primary'"
												(click)="onSubmit()"
											>
												Salveaza
											</button>
										</div>
										<!-- Alert -->
										<fuse-alert
											*ngIf="showAlert"
											[appearance]="'outline'"
											[showIcon]="false"
											[type]="alert.type"
											[dismissible]="true"
										>
											{{ alert.message }}
										</fuse-alert>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
